.column{
    float: left;
    width: 33.33%;
    margin-right: 20px;
    margin-left: 20px;
}

.column-largeLeft{
    float: left;
    width: 75%;
}

.column-smallRight{
    float: left;
    width: 25%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}